Anton Ilin <anton@ilin.dn.ua>
Caleb Land <caleb@land.fm>
Dan Croak <dan@thoughtbot.com>
Daniel Watson <dbwatson@vectorspace.org>
George Brocklehurst <george@thoughtbot.com>
Javier López <linux.kitten@gmail.com> <kitten@openbsdbox>
Jordan Eldredge <jordaneldredge@gmail.com>
Mike Burns <mburns@thoughtbot.com> <mike@mike-burns.com>
Pablo Olmos de Aguilera Corradini <pablo@glatelier.org>
Patrick Brisbin <pat@thoughtbot.com> <pbrisbin@gmail.com>
Roberto Pedroso <roberto@rpedroso.com>
