George Brocklehurst <george@thoughtbot.com> <george.brocklehurst@gmail.com>
George Brocklehurst <george@thoughtbot.com> <george@georgebrock.com>
Javier López <linux.kitten@gmail.com> <kitten@openbsdbox>
Melissa Xie <melissa@thoughtbot.com> <me@melissaxie.com>
Mike Burns <mburns@thoughtbot.com> <mike@mike-burns.com>
Pablo Olmos de Aguilera Corradini <pablo@glatelier.org>
Patrick Brisbin <pat@thoughtbot.com> <pbrisbin@gmail.com>
Martin Frost <frost@ceri.se> <martin@frost.ws>
Geoff Harcourt <geoff@thoughtbot.com> <geoff.harcourt@gmail.com>
